node_modules/
reconocimiento/monkey/package-lock.json
reconocimiento/monkey/results

vrt/kraken_tests/kraken_project/package-lock.json
vrt/kraken_tests/kraken_project/package.json
vrt/kraken_tests/kraken_project/.kraken
vrt/kraken_tests/kraken_project/reports

e2e/kraken_tests/kraken_project/package-lock.json
e2e/kraken_tests/kraken_project/package.json
e2e/kraken_tests/kraken_project/.kraken
e2e/kraken_tests/kraken_project/reports

escenarios_validacion_datos/Kraken_tests/kraken_project/package-lock.json
escenarios_validacion_datos/Kraken_tests/kraken_project/package.json
escenarios_validacion_datos/Kraken_tests/kraken_project/reports/